@import "~include-media/dist/_include-media.scss";

.Difference {
  height: auto;
  width: 98%;
  margin: 0 auto;
  &-detail-1 {
    display: flex;
    height: auto;
    &-description {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      span,
      h1,
      p {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
        line-height: 1.5rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &-image {
      flex: 1;
      display: flex;
      margin-bottom: 80px;

      @include media("<=tablet") {
        padding-top: 30px;
      }

      .cashBackImage2,
      .cashBackImage1 {
        width: 47%;
        height: auto;
        @include media("<=tablet") {
          height: 250px !important;
        }
      }
      .cashBackImage1 {
        z-index: 10;
        top: 5%;
        left: 5%;
      }
      .cashBackImage2 {
        bottom: 5%;
        right: 5%;
      }
    }
  }

  &-detail-2 {
    height: 600px;
    display: flex;
    background-color: #f4f5f7;
    &-image {
      flex: 1;
      padding-top: 100px;

      img {
        width: 50%;
        height: auto;
      }
    }

    &-description {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
}
