@import "~include-media/dist/_include-media.scss";

.Difference {
  height: auto;
  width: 98%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  &-detail-1 {
    width: 100%;
    margin: 0 auto;
    height: auto;
    &-description {
      display: flex;
      justify-content: center;
      flex-direction: column;

      span,
      h1,
      p {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
        line-height: 1.5rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &-image {
      display: flex;
      margin-bottom: 20px;

      @include media("<=tablet") {
        padding-top: 15%;
      }

      .cashBackImage2,
      .cashBackImage1 {
        width: 47%;
        height: auto;
        @include media("<=tablet") {
          height: 250px !important;
        }
      }
      .cashBackImage1 {
        z-index: 10;
        top: 5%;
        left: 5%;
      }
      .cashBackImage2 {
        bottom: 5%;
        right: 5%;
      }
    }
  }

  &-detail-2 {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #f4f5f7;
    @include media("<=tablet") {
      flex-direction: column-reverse;
    }
    &-image {
      display: flex;
      flex: 1;
      padding-top: 100px;

      @include media("<=tablet") {
        padding-top: 0px;
        padding-bottom: 100px;
      }

      .pebble1,
      .pebble2 {
        width: 47%;
        height: auto;
        @include media("<=tablet") {
          height: 250px !important;
        }
      }
      .pebble1 {
        top: -10%;
        left: 10%;
      }
      .pebble2 {
        bottom: 5%;
      }
    }

    &-description {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        padding: 15% 10% 10% 15%;
        text-align: left;
        line-height: 3rem;
        span {
          color: #ff5959;
        }
      }
    }
  }
}
