.Intro {
  width: 98%;
  margin: 0 auto;
  position: relative;
  text-align: center;

  &-container {
    height: auto;
    background-color: #ff5b5a;
  }

  &-description {
    padding: 5% auto;
    margin: 0 auto;
    img {
      width: 100px;
      margin-top: 3rem;
    }
    p {
      color: white;
      line-height: 1.5rem;
      padding-bottom: 3rem;
    }
  }
}
