@import "~include-media/dist/_include-media.scss";

.Intro {
  width: 98%;
  margin: 0 auto;

  &-container {
    height: 400px;
    background-color: #ff5b5a;
  }

  &-description {
    width: 50%;
    margin: auto;

    @include media("<=tablet") {
      width: 80%;
    }

    img {
      width: 100px;
      margin-top: 100px;

      @include media("<=tablet") {
        margin-top: 0px;
      }
    }
    p {
      color: white;
      line-height: 1.5rem;
    }
  }
}
