.hero {
  height: auto;
  width: 98%;
  margin: 0 auto !important;
  background: linear-gradient(180deg, #edb1b7 0%, #e9beae 70.93%, #e9d3c1 100%);

  &-text {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 5% 5% 5% 10% !important;
    color: white;
    margin-bottom: 0 !important;

    h1 {
      font-weight: 800;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 1rem;
      font-weight: 300;
    }

    &-button {
      width: 130px;
      height: 50px;
      color: white;
      text-decoration: none;
      background-color: #ff5959;
      border-color: #ff5959;
    }

    &-button:hover {
      border-color: #f17878;
      color: #ecebeb;
      transition: color ease-in-out 0.3s;
    }
  }

  &-image {
    position: relative;
    .hero-image-content {
      padding-top: 15%;
      padding-bottom: 15%;
      height: auto !important;
    }
    // img {
    //   @include media(">desktop", ">=tablet") {
    //     height: 400px !important;
    //   }
    // }
  }
}
