@import "~include-media/dist/_include-media.scss";

.Leaders {
  width: 80%;
  margin: 50px auto;

  &-cards {
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &-logos {
    display: flex;
    flex-wrap: wrap;
    &-logo {
      width: 25%;
      height: auto;
      img {
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  &-description {
    width: 70%;
    margin: 50px auto;

    @include media("<=tablet") {
      width: 90%;
      line-height: 1.75em;
      margin: 20px auto;
    }
  }
}
