.card {
  &-detail {
    position: relative;

    &-image {
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-logo {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}
