.nav {
  &-bar {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    justify-content: space-between;
    &-menu {
      padding-right: 5%;
      a {
        text-decoration: none;
      }

      .navbar-item:hover {
        color: #fe4e4e;
        background-color: transparent;
      }

      .start-button {
        margin-top: 4px;

        color: #fe4e4e;
        border-color: #fe4e4e;
      }

      .start-button:hover {
        background-color: #fafafa;
      }
    }
  }

  &-logo {
    display: flex;
    padding-left: 5%;

    a {
      height: auto;
    }
    img {
      padding-top: 20px;
      width: 100px;
    }

    .navbar-burger {
      padding-right: 5%;
      right: 5%;
      border: none;
      height: 3em;
      width: 3em;
      margin-top: 2%;
      // height: 2.25em;
      // width: 2.25em;
    }
    .navbar-burger:active {
      box-shadow: 0 0 0 0.125em rgba(255, 91, 90, 0.15);
    }
  }
}
