@import "~include-media/dist/_include-media.scss";

.Purpose {
  height: auto;
  width: 98%;
  margin: 0 auto;

  &-detail {
    display: flex;

    &-description {
      @include media("<tablet") {
        padding-top: 80px;
      }
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      span,
      h1,
      p {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
        line-height: 1.5rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &-image {
      padding-top: 100px;
      padding-bottom: 100px;
      margin-bottom: 50px;
      img {
        width: 65%;
      }
    }
  }
}
