.Vision {
  height: auto;
  background: linear-gradient(180deg, #f3d2cb 0%, #f3e0d9 54.69%, #f7f4ef 100%);
  &-detail {
    display: flex;

    &-description {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      span,
      h1,
      p {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
        line-height: 1.5rem;
      }

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    &-image {
      position: relative;
      padding-top: 100px;
      padding-bottom: 100px;
      flex: 1;
      .bubbleunicorn1,
      .bubbleunicorn2 {
        position: absolute !important;
      }

      .bubbleunicorn1 {
        right: 20%;
        top: 10%;
      }

      .bubbleunicorn2 {
        bottom: 25%;
        left: 20%;
      }
      //   img {
      //     width: 65%;
      //   }
    }
  }
}
